---
---

@import "{{ site.theme }}";

div.shell {
	width: 1280px;
}

span.banner-fix {
	width: 1280px;
}

div#no-downloads {
	background: none;
	height: 187px;
	margin-top: -80px;
}

div#no-downloads span.inner {
	height: 187px;
}

div#no-downloads p {
  display: block;
  position: relative;
  height: 67px;
  padding-top: 135px;
  margin: 0;
  text-align: center;
  line-height: 1;
  color: #fff;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: 800;
  font-size: 1.3em;
}

section#main_content {
	padding-top: 10px;
}

img {
	max-width: 1112px;
}

footer {
	background: none;
}